{# templates/bundles/TwigBundle/Exception/error403.html.twig #}
{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% block title %} Erreur {{ status_code }} : Accès refusé{% endblock %}

{% block body %}
    <div id="errorexception">
        <div class="errorexception">
            <div class="errorexception-code">
                <h1>Oups!</h1>
                <h2>403 - Forbidden</h2>
                <h2>{{ status_code }} - {{ status_text }}</h2>
            </div>
            <a href="{{ path('app_home') }}">Aller à la page d'accueil</a>
        </div>
        <img src="{{ asset('img/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg') }}" class="w-100" alt="Background">
    </div>
{% endblock %}