{# templates/bundles/TwigBundle/Exception/error403.html.twig #}
{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% block title %} Erreur {{ status_code }} : Accès refusé{% endblock %}

{% block body %}
    <div id="errorexception">
        <div class="errorexception">
            <div class="errorexception-code">
                <h1>Oups!</h1>
                <h2>{{ status_code }} - {{ status_text }}</h2>
            </div>
            <a href="{{ path('app_home') }}">Aller à la page d'accueil</a>
        </div>

        <img src="{{ asset('img/janko-ferlic-sfL_QOnmy00-unsplash.jpg') }}" class="w-100 img-rounded" alt="Background">

    </div>
{% endblock %}