<div class="card">
    <img src="http://picsum.photos/id/{{ random(400, 800) }}/290/180" alt="" class="card-img-top">
    <div class="card-body">
        <h2 class="card-title">{{ book.title|u.truncate(35, '...') }}</h2>
        <div class="card-header">
            <a href="">{{ book.author }}</a>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ book.category }}</li>
            <li class="list-group-item">{{ book.publisher }}</li>
            <li class="list-group-item">{{ book.language }}</li>
            <li class="list-group-item">{{ book.format }}</li>
            <li class="list-group-item">{{ book.state }}</li>
            <li class="list-group-item">{{ book.user.city }}</li>
            <li class="list-group-item">{{ book.user.pseudo }}</li>
        </ul>
        <div class="card-body d-inline-flex justify-content-center">
            <a href="{{ path('book_validation_confirm_exchange', {'id': book.id}) }}" class="card-link btn btn-outline-success exchangeButton">Échanger</a>
        </div>
    </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="http://picsum.photos/id/{{ random(400, 800) }}/290/180" class="card-img-top border-success" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ book.title|u.truncate(35, '...') }}</h5>
  </div>
  <div class="card-header">
    <a href="">{{ book.author }}</a>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ book.category }}</li>
    <li class="list-group-item">{{ book.publisher }}</li>
    <li class="list-group-item">{{ book.language }}</li>
    <li class="list-group-item">{{ book.format }}</li>
    <li class="list-group-item">{{ book.state }}</li>
    <li class="list-group-item">{{ book.user.city }}</li>
    <li class="list-group-item">{{ book.user.pseudo }}</li>
  </ul>
  <div class="card-body d-inline-flex justify-content-center">
    <a href="{{ path('book_validation_confirm_exchange', {'id': book.id}) }}" class="card-link btn btn-outline-success exchangeButton">Échanger</a>
  </div>
</div>