{% extends 'base.html.twig' %}

{% block title %}Données personnelles de
	{{ app.user.firstname }}
	{{ app.user.lastname }}
{% endblock %}

{% block body %}
	<section class="container user-data">
		{% for message in app.flashes('message') %}
			<div class="divAlert col-sm-12">
				<div class="alert alert-success" role="alert">
					{{message}}
				</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="divAlert col-sm-12">
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			</div>
		{% endfor %}
		<h2 class="h2UserData">Données personnelles de
			{{ app.user.firstname }}
			{{ app.user.lastname }}
		</h2>

		<a class="btn user-data-button" href="{{ path('user_data_download') }}" role="button">Téléchager les données</a>

		<div class="div-user-data-row"> 
			<div class="div-user-data-name">Pseudo :</div>
			<div class="div-user-data-value">{{ app.user.pseudo }}</div>
			<div class="div-user-data-name">Nom :</div>
			<div class="div-user-data-value">{{ app.user.lastname }}</div>
			<div class="div-user-data-name">Prénom :</div>
			<div class="div-user-data-value">{{ app.user.firstname }}</div>
			<div class="div-user-data-name">E-mail :</div>
			<div class="div-user-data-value">{{ app.user.email }}</div>
			<div class="div-user-data-name">Code postal :</div>
			<div class="div-user-data-value">{{ app.user.zipCode }}</div>
			<div class="div-user-data-name">Ville :</div>
			<div class="div-user-data-value">{{ app.user.city }}</div>
		</div>

		<h3 class="h3UserData">Livres de
			{{ app.user.firstname }}
			{{ app.user.lastname }}
			({{ app.user.books|length }})
		</h3>
		
		<table class="table responsive-table-line table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Titre</th>
					<th scope="col">Auteur</th>
					<th scope="col">Catégorie</th>
					<th scope="col">Éditeur</th>
					<th scope="col">Résumé</th>
					<th scope="col">Langue</th>
					<th scope="col">Format</th>
					<th scope="col">État</th>
				</tr>
			</thead>
			<tbody>
				{% for book in app.user.books %}
					<tr>
						<th data-label="#" scope="row">{{ book.id }}</th>
						<td data-label="Titre">{{ book.title }}</td>
						<td data-label="Auteur">{{ book.author }}</td>
						<td data-label="Catégorie">{{ book.category }}</td>
						<td data-label="Éditeur">{{ book.publisher }}</td>
						<td data-label="Résumé">{{ book.summary|striptags }}</td>
						<td data-label="Langue">{{ book.language }}</td>
						<td data-label="Format">{{ book.format }}</td>
						<td data-label="État">{{ book.state }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}
