{% extends 'baseBootstrap.html.twig' %}

{% block title %}
	Modification du mot de passe de
	{{ app.user.pseudo }}
{% endblock %}

{% block body %}
	<div id="formContainer">
		{% for message in app.flashes('error') %}
			<div class="col-sm-12">
				<div class="alert alert-danger" role="alert">
					{{message}}
				</div>
			</div>
		{% endfor %}
		<div class="formHeader">
			<h2>Modification du mot de passe de
				{{ app.user.pseudo }}
			</h2>
		</div>
		{{ form_start(editpasswordForm, {'attr': {'id': 'editpassword_form', 'class': 'form'}}) }}

		<div class="form-control">
			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			{{ form_label(editpasswordForm.plainPassword.first) }}
			{{ form_widget(editpasswordForm.plainPassword.first) }}

			<small>{{ form_help(editpasswordForm.plainPassword.first) }}</small>

			<div class="form-error">
				{{ form_errors(editpasswordForm.plainPassword.first) }}
			</div>
		</div>

		<div class="form-control">
			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			{{ form_label(editpasswordForm.plainPassword.second) }}
			{{ form_widget(editpasswordForm.plainPassword.second) }}

			<small>{{ form_help(editpasswordForm.plainPassword.second) }}</small>

			<div class="form-error">
				{{ form_errors(editpasswordForm.plainPassword.second) }}
			</div>
		</div>

		{{ form_end(editpasswordForm) }}
	</div>
</div>{% endblock %}{% block javascripts %}
<script src="{{ asset('js/editpasswordform.js') }}"></script>{% endblock %}
