{% extends 'base.html.twig' %}

{% block title %}
	Profil de
	{{ app.user.firstname }}
	{{ app.user.lastname }}
{% endblock %}

{% block body %}
	<section class="container userIndex">
		{% for message in app.flashes('message') %}
			<div class="divAlert">
				<div class="alert alert-success" role="alert">
					{{message}}
				</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="divAlert">
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			</div>
		{% endfor %}
		<h2 class="h2UserIndex">Profil de
			{{ app.user.firstname }}
			{{ app.user.lastname }}
		</h2>
		<div class="divRowUserIndex">
			<div class="divNameUserIndex">Pseudo :</div>
			<div class="divValueUserIndex">{{ app.user.pseudo }}</div>
			<div class="divNameUserIndex">Nom :</div>
			<div class="divValueUserIndex">{{ app.user.lastname }}</div>
			<div class="divNameUserIndex">Prénom :</div>
			<div class="divValueUserIndex">{{ app.user.firstname }}</div>
			<div class="divNameUserIndex">E-mail :</div>
			<div class="divValueUserIndex">{{ app.user.email }}</div>
			<div class="divNameUserIndex">Code postal :</div>
			<div class="divValueUserIndex">{{ app.user.zipCode }}</div>
			<div class="divNameUserIndex">Ville :</div>
			<div class="divValueUserIndex">{{ app.user.city }}</div>
			<div class="divButtonsUserIndex">
				<a class="btn btn-primary buttonUserIndex" href="{{ path('user_profile_update') }}" role="button">Modifier le profil</a>
				<a class="btn btn-primary buttonUserIndex" href="{{ path('user_email_update') }}" role="button">Modifier l'e-mail</a>
				<a class="btn btn-primary buttonUserIndex" href="{{ path('user_password_update') }}" role="button">Modifier le mot de passe</a>
				<a class="btn btn-secondary buttonUserIndex" href="{{ path('user_data') }}" role="button">Voir mes données personelles (RGPD)</a>
			</div>
		</div>
	</section>
{% endblock %}
