{% extends 'baseBootstrap.html.twig' %}

{% block title %}
	Profil de
	{{ app.user.pseudo }}
{% endblock %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('message') %}
			<div class="divAlert col-sm-12">
				<div class="alert alert-success" role="alert">
					{{message}}
				</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="divAlert col-sm-12">
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			</div>
		{% endfor %}

		<div class="my-3 p-3 bg-body rounded shadow-sm">
			<div class="row col-sm-12">
				<div class="col-sm-12">
					<h2 class="h2ConnectedProfile">Profil de
						{{ app.user.firstname }}
						{{ app.user.lastname }}
					</h2>
				</div>
				<div class="container">
					<div class="row row-cols-2 gx-4 gy-4">
						<div class="col-sm-3 p-3 border">Pseudo :</div>
						<div class="col-sm-9 p-3 border">{{ app.user.pseudo }}</div>
						<div class="col-sm-3 p-3 border">Nom :</div>
						<div class="col-sm-9 p-3 border">{{ app.user.lastname }}</div>
						<div class="col-sm-3 p-3 border">Prénom :</div>
						<div class="col-sm-9 p-3 border">{{ app.user.firstname }}</div>
						<div class="col-sm-3 p-3 border">E-mail :</div>
						<div class="col-sm-9 p-3 border">{{ app.user.email }}</div>
						<div class="col-sm-3 p-3 border">Code postal :</div>
						<div class="col-sm-9 p-3 border">{{ app.user.zipCode }}</div>
						<div class="col-sm-3 p-3 border">Ville :</div>
						<div class="col-sm-9 p-3 border">{{ app.user.city }}</div>
						<div class="col-sm-12 divButtonsEdit">
							<a class="btn btn-primary mx-4" href="{{ path('user_profile_edit') }}" role="button">Modifier le profil</a>
							<a class="btn btn-primary mx-4" href="{{ path('user_email_edit') }}" role="button">Modifier l'e-mail</a>
							<a class="btn btn-primary mx-4" href="{{ path('user_password_edit') }}" role="button">Modifier le mot de passe</a>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<h3 class="h3ConnectedUserBook">Livres de
						{{ app.user.firstname }}
						{{ app.user.lastname }}
						({{ app.user.books|length }})
					</h3>
				</div>

				<table class="table manageMyAccountBooks">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Titre</th>
							<th scope="col">Auteur</th>
							<th scope="col">Catégorie</th>
							<th scope="col">Éditeur</th>
							<th scope="col">Langue</th>
							<th scope="col">Format</th>
							<th scope="col">État</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for books in app.user.books %}
							<tr>
								<th scope="row">{{ books.id }}</th>
								<td>{{ books.title }}</td>
								<td>{{ books.author }}</td>
								<td>{{ books.category }}</td>
								<td>{{ books.publisher }}</td>
								<td>{{ books.language }}</td>
								<td>{{ books.format }}</td>
								<td>{{ books.state }}</td>
								<td>
									<a class="btn btn-primary" href="{{ path('user_book_remove_stock', {'id': books.id }) }}" role="button">Retirer de mon stock</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
