{% extends 'base.html.twig' %}

{% block title %}
	Modification du mot de passe de
	{{ app.user.pseudo }}
{% endblock %}

{% block body %}
	<div id="formContainer">
		{% for message in app.flashes('error') %}
			<div class="col-sm-12">
				<div class="alert alert-danger" role="alert">
					{{message}}
				</div>
			</div>
		{% endfor %}
		<div class="formHeader">
			<h2>Modification du mot de passe de
				{{ app.user.pseudo }}
			</h2>
		</div>
		{{ form_start(updatePasswordForm, {'attr': {'id': 'update_password_form', 'class': 'form'}}) }}

		<div class="form-control">
			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			{{ form_label(updatePasswordForm.plainPassword.first) }}
			{{ form_widget(updatePasswordForm.plainPassword.first) }}

			<small>{{ form_help(updatePasswordForm.plainPassword.first) }}</small>

			<div class="form-error">
				{{ form_errors(updatePasswordForm.plainPassword.first) }}
			</div>
		</div>

		<div class="form-control">
			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			{{ form_label(updatePasswordForm.plainPassword.second) }}
			{{ form_widget(updatePasswordForm.plainPassword.second) }}

			<small>{{ form_help(updatePasswordForm.plainPassword.second) }}</small>

			<div class="form-error">
				{{ form_errors(updatePasswordForm.plainPassword.second) }}
			</div>
		</div>

		{{ form_end(updatePasswordForm) }}
	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/updatePasswordForm.js') }}"></script>
{% endblock %}
