{% extends 'admin/index.html.twig' %}

{% block title %}Modifier l'utilisateur
{% endblock %}

{% block body %}
	<div id="formContainer">
		{% for message in app.flashes('message') %}
			<div class="divAlert col-sm-12">
				<div class="alert alert-success" role="alert">
					{{message}}
				</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="divAlert col-sm-12">
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			</div>
		{% endfor %}
		<div class="formHeader">
			<h2>Modifier l'utilisateur</h2>
		</div>

		{{ form_start(updateUserForm, {'attr': {'id': 'update_user_form', 'class': 'form'}}) }}

		<div class="form-control">
			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			{{ form_label(updateUserForm.email) }}
			{{ form_widget(updateUserForm.email) }}

			<small>{{ form_help(updateUserForm.email) }}</small>

			<div class="form-error">
				{{ form_errors(updateUserForm.email) }}
			</div>
		</div>

		<div class="form-control">
			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			{{ form_label(updateUserForm.roles) }}
			{{ form_widget(updateUserForm.roles) }}

			<small>{{ form_help(updateUserForm.roles) }}</small>

			<div class="form-error">
				{{ form_errors(updateUserForm.roles) }}
			</div>
		</div>


		<div class="form-control">
			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			{{ form_label(updateUserForm.lastname) }}
			{{ form_widget(updateUserForm.lastname) }}

			<small>{{ form_help(updateUserForm.lastname) }}</small>

			<div class="form-error">
				{{ form_errors(updateUserForm.lastname) }}
			</div>
		</div>

		<div class="form-control">
			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			{{ form_label(updateUserForm.firstname) }}
			{{ form_widget(updateUserForm.firstname) }}

			<small>{{ form_help(updateUserForm.firstname) }}</small>

			<div class="form-error">
				{{ form_errors(updateUserForm.firstname) }}
			</div>
		</div>

		<div class="form-control">
			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			{{ form_label(updateUserForm.pseudo) }}
			{{ form_widget(updateUserForm.pseudo) }}

			<small>{{ form_help(updateUserForm.pseudo) }}</small>

			<div class="form-error">
				{{ form_errors(updateUserForm.pseudo) }}
			</div>
		</div>

		<div class="form-control">
			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			{{ form_label(updateUserForm.zipCode) }}
			{{ form_widget(updateUserForm.zipCode) }}

			<small>{{ form_help(updateUserForm.zipCode) }}</small>

			<div class="form-error">
				{{ form_errors(updateUserForm.zipCode) }}
			</div>
		</div>

		<div class="form-control">
			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			{{ form_label(updateUserForm.city) }}
			{{ form_widget(updateUserForm.city) }}

			<small>{{ form_help(updateUserForm.city) }}</small>

			<div class="form-error">
				{{ form_errors(updateUserForm.city) }}
			</div>
		</div>
		{{ form_end(updateUserForm) }}
	</div>
{% endblock %}
