{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau compte
{% endblock %}

{% block stylesheets %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	<section class="contentBlockSection">

		<h2 class="h2CreateAccount">Créer un nouveau compte</h2>

		<p class="paragraphsOfCreateAccount">Créer votre compte en quelques clics sur ÉchangeLivres et échangez dès aujourd'hui vos premiers livres, simplement et rapidement.
		</p>
		<p class="paragraphsOfCreateAccount">Un service de qualité, des échanges à volonté !</p>

		{{ form_start(registrationForm, {'attr': {'id': 'registration_form'}}) }}

		{{ form_row(registrationForm.pseudo, {
            label: 'Pseudo: '
        }) }}

		<div class="form-control">
			<label class="required" for="registration_form_pseudo">Pseudo</label>
			<input id="registration_form_pseudo" type="text" placeholder="pseudo001" name="registration_form[pseudo]" required="required"/>

			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			<small>Error message</small>
		</div>

		{{ form_row(registrationForm.lastname, {
            label: 'Nom: '
        }) }}

		<div class="form-control">
			<label class="required" for="registration_form_lastname">Nom</label>
			<input id="registration_form_lastname" type="text" placeholder="" name="registration_form[lastname]" required="required"/>
			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			<small>Error message</small>
		</div>

		{{ form_row(registrationForm.firstname, {
            label: 'Prénom: '
        }) }}

		<div class="form-control">
			<label class="required" for="registration_form_firstname">Prénom</label>
			<input id="registration_form_firstname" type="text" placeholder="" name="registration_form[firstname]" required="required"/>
			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			<small>Error message</small>
		</div>

		{{ form_row(registrationForm.email, {
                label: 'E-mail: '
        }) }}

		<div class="form-control">
			<label class="required" for="registration_form_email">E-mail</label>
			<input id="registration_form_email" type="email" placeholder="" name="registration_form[email]" required="required">
			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			<small>Error message</small>
		</div>

		{{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe: '
        }) }}

		<div class="form-control">
			<label class="required" for="registration_form_plainPassword">Mot de passe</label>
			<input id="registration_form_plainPassword" type="password" placeholder="" name="registration_form[plainPassword]" required="required">
			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			<small>Error message</small>
		</div>

		<p>Votre mot de passe doit contenir au moins
			<span id="tiny" class="invalid">une minuscule</span>
			<span id="uppercase" class="invalid">une majuscule</span>
			<span id="number" class="invalid">un chiffre</span>
			<span id="special" class="invalid">un caractère spécial</span>
			<span id="length" class="invalid">et faire au moins 12 caractères</span>
		</p>

		{{ form_row(registrationForm.zipCode, {
                label: 'Code postal: '
        }) }}

		<div class="form-control">
			<label class="required" for="registration_form_zipCode">Code postal</label>
			<input id="registration_form_zipCode" type="number" placeholder="" name="registration_form[zipCode]" required="required"/>

			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			<small>Error message</small>
		</div>

		{{ form_row(registrationForm.city, {
                label: 'Ville: '
        }) }}

		<div class="form-control">
			<label class="required" for="registration_form_city">Ville</label>
			<input id="registration_form_city" type="text" placeholder="" name="registration_form[city]" required="required"/>

			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			<small>Error message</small>
		</div>

		{{ form_row(registrationForm.agreeTerms, {
                label: 'Vous acceptez les conditions générales d\'utilisation
                et la politique de confidentialité du site ÉchangeLivres.'
        }) }}

            <div class="divButtonCreateAccount">
                <button type="submit" class="btn btn-success buttonCreateAccount" id="submitRegistrationFormButton">S'inscrire</button>
            </div>
        {{ form_end(registrationForm) }}
	</section>
{% endblock %}

{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<script src="{{ asset('js/validationregistrationform.js') }}"></script>
{% endblock %}
