{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau compte
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	<section class="contentBlockSection">

		<h2 class="h2CreateAccount">Créer un nouveau compte</h2>

		<p class="paragraphsOfCreateAccount">Créer votre compte en quelques clics sur ÉchangeLivres et échangez dès aujourd'hui vos premiers livres, simplement et rapidement.
		</p>
		<p class="paragraphsOfCreateAccount">Un service de qualité, des échanges à volonté !</p>

		{{ form_start(registrationForm, {'attr': {'id': 'registration_form'}}) }}

		{{ form_row(registrationForm.pseudo, {
            label: 'Pseudo: '
        }) }}
		{{ form_row(registrationForm.lastname, {
            label: 'Nom: '
        }) }}
		{{ form_row(registrationForm.firstname, {
            label: 'Prénom: '
        }) }}
		{{ form_row(registrationForm.email, {
                label: 'E-mail: '
        }) }}
		{{ form_errors(registrationForm.email) }}
		{{ form_help(registrationForm.email) }}
		<div>
			<label for="registration_form_email" class="required">E-mail</label>
			<input type="email" id="registration_form_email" name="registration_form[email]" required="required">
			<small id="registration_form_email_small"></small>
		</div>

		{{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe: '
        }) }}
		<p>Votre mot de passe doit contenir au moins
			<span id="tiny" class="invalid">une minuscule</span>
			<span id="uppercase" class="invalid">une majuscule</span>
			<span id="number" class="invalid">un chiffre</span>
			<span id="special" class="invalid">un caractère spécial</span>
			<span id="length" class="invalid">et faire au moins 12 caractères</span>
		</p>
		{{ form_row(registrationForm.zipCode, {
                label: 'Code postal: '
        }) }}
		{{ form_row(registrationForm.city, {
                label: 'Ville: '
        }) }}
		{{ form_row(registrationForm.agreeTerms, {
                label: 'Vous acceptez les conditions générales d\'utilisation
                et la politique de confidentialité du site ÉchangeLivres.'
        }) }}

            <div class="divButtonCreateAccount">
                <button type="submit" class="btn btn-success buttonCreateAccount" id="submitRegistrationFormButton">S'inscrire</button>
            </div>
        {{ form_end(registrationForm) }}
	</section>
{% endblock %}

{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<script src="{{ asset('js/validationregistrationform.js') }}"></script>
{% endblock %}
