{% extends 'admin/index.html.twig' %}

{% block title %}Gérer les livres
{% endblock %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('message') %}
			<div class="divAlert col-12">
				<div class="alert alert-success" role="alert">
					{{message}}
				</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="divAlert col-12">
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			</div>
		{% endfor %}
		<div class="col-12 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-3">
			<h1>Gérer les livres</h1>
			<a class="btn btn-primary m-2" href="{{ path('admin_book_add') }}" role="button">Ajouter un livre</a>
		</div>

		<table class="table table-responsive table-hover">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Titre</th>
					<th scope="col">Date</th>
					<th scope="col">Actif</th>
					<th scope="col">Auteur</th>
					<th scope="col">Catégorie</th>
					<th scope="col">Éditeur</th>
					<th scope="col">Résumé</th>
					<th scope="col">Langue</th>
					<th scope="col">Format</th>
					<th scope="col">État du livre</th>
					<th scope="col">Demande d'échange</th>
					<th scope="col">Date de la demande d'échange</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for book in books %}
					<tr>
						<th scope="row">{{book.id}}</th>
						<td>{{book.title}}</td>
						<td>{{book.createdAt|date('d/m/Y')}}</td>
						<td>
							{% if book.active %}
								Oui
							{% else %}
								Non
							{% endif %}
						</td>
						<td>{{book.author}}</td>
						<td>{{book.category}}</td>
						<td>{{book.publisher}}</td>
						<td>{{book.summary|striptags|raw}}</td>
						<td>{{book.language}}</td>
						<td>{{book.format}}</td>
						<td>{{book.state}}</td>
						<td>
							{% if book.exchangeRequest %}
								Oui
							{% else %}
								Non
							{% endif %}
						</td>
						<td>{{book.exchangeRequestAt|date('d/m/Y')}}</td>
						<td>
							<a class="btn btn-primary m-2" href="{{ path("admin_book_show", {slug: book.slug}) }}" role="button">Voir</a>
							{% if book.active %}
								<a class="btn btn-primary m-2" href="{{ path('admin_book_remove_exchange', {'id': book.id }) }}" role="button">Retirer des échanges</a>
							{% else %}
								<a class="btn btn-primary m-2" href="{{ path('admin_book_add_exchange', {'id': book.id }) }}" role="button">Ajouter aux échanges</a>
							{% endif %}
							<a class="btn btn-warning m-2" href="{{ path("admin_book_update", {id: book.id}) }}" role="button">Modifier</a>
							<a class="btn btn-danger m-2 modal-trigger" href="#" data-bs-toggle="modal" data-bs-target="#modal-delete" data-id="{{book.id}}" data-title="{{book.title}}" data-author="{{book.author}}" data-publisher="{{book.publisher}}" data-format="{{book.format}}" data-state="{{book.state}}" aria-haspopup="dialog" aria-controls="dialog" role="button">
								Supprimer
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<!-- Modal -->
		<div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="dialog-title" aria-hidden="true">
			<div role="document" class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="dialog-title">Supprimer le livre</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer" title="Fermer cette fenêtre modale"></button>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<a href="" class="btn btn-danger" aria-label="Valider" title="Valider la suppression du livre" aria-controls="dialog" role="button">Valider</a>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Fermer" title="Fermer cette fenêtre modale">Fermer</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/modalbook.js')}}"></script>
{% endblock %}
