{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <section>
        <div class="row">
            <div class="col-6 offset-md-3">
                <h1>Recherche Avancée</h1>
            
                {{ form(advanced_search_form) }}
            </div>
        </div>
        {% if app.request.method == 'POST' %}
            <div class="row">
                <div class="col-6 offset-md-3">
                    {% if books |length == 0 %}
                        <h1>Aucun résultat pour votre recherche</h1>
                    {% else %}
                        <h1>Recherche Avancée</h1>
                        {% for book in books %}
                            <div class="card show">
                                <div class="row g-0">
                                    <div class="card-picture col-md-4">
                                        {% for image in book.images %}
                                            <img src="{{ asset('/uploads/' ~ image.name)|imagine_filter('book') }}" alt="Couverture du livre {{book.title}}.">
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ book.title|u.truncate(60, '...') }}</h5>
                                            <div class="card-header">
                                                <a href="">{{ book.author }}</a>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">{{ book.category }}</li>
                                                <li class="list-group-item">{{ book.publisher }}</li>
                                                <li class="list-group-item">{{ book.summary|striptags|raw }}</li>
                                                <li class="list-group-item">Langue:
                                                    {{ book.language }}</li>
                                                <li class="list-group-item">Format:
                                                    {{ book.format }}</li>
                                                <li class="list-group-item stateBook">État:
                                                    {{ book.state }}</li>
                                                <li class="list-group-item locationBook">
                                                    <img src="{{ asset('/img/locationIcon.svg') }}" class="locationIcon" alt="location Icon"/>
                                                    <span>{{ book.user.city }}</span>
                                                </li>
                                                <li class="list-group-item ownerBook">Propriétaire:
                                                    {{ book.user.pseudo }}</li>
                                            </ul>
                                        </div>
                                        <div class="divButtonsFlexCenter">
                                            <div class="align-self-center">
                                                <a class="btn btn-outline-success exchangeButton" href="{{ path('book_validation_confirm_exchange', {'id': book.id}) }}" role="button">Échanger</a>
                                            </div>
                                            <div class="align-self-center">
                                                <a class="btn btn-outline-primary m-2 modal-trigger" href="#" data-bs-toggle="modal" data-bs-target="#modal-contact" data-id="{{book.id}}" data-requester="{{book.user.pseudo}}" data-title="{{book.title}}" data-author="{{book.author}}" data-publisher="{{book.publisher}}" data-format="{{book.format}}" data-state="{{book.state}}" aria-haspopup="dialog" aria-controls="dialog" role="button">
                                                    Contacter
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %} 
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </section>
</div>
{% endblock %}