{% extends 'base.html.twig' %}

{% block title %}
	Liste de livres
{% endblock %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('message') %}
			<div class="divAlert col-sm-12">
				<div class="alert alert-success" role="alert">
					{{message}}
				</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="divAlert col-sm-12">
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			</div>
		{% endfor %}
		<h2 class="h2ConnectedBookStockAddABook">Liste de livres</h2>

		<div class="col-sm-12">
			<h3 class="h3ConnectedBookStockAddABook">Bibliothèque
				{% if books|length == "0" %}
					(0 livre)
				{% else %}
					({{ books|length }}
					livres)
				{% endif %}
			</h3>
		</div>

		{% if books|length == "0" %}
			<div class="divConnectedBookStockAddABook">
				<p>La bibliothèque est vide.</p>
			</div>
		{% else %}
			<div class="row col-sm-12">
				{% for book in books %}
					<section class="bookCard col-sm-4">
						<h4 class="titleBook">
							<a href="{{ path('book_show', {slug: book.slug}) }}">{{ book.title|u.truncate(18, '...') }}</a>
						</h4>
						<div class="authorBook">
							<a href="">{{ book.author }}</a>
						</div>
						<div class="categoryBook">{{ book.category }}</div>
						<div class="publisherBook">{{ book.publisher }}</div>
						<div class="languageBook">Langue:
							{{ book.language }}</div>
						<div class="formatBook">Format:
							{{ book.format }}</div>
						<div class="stateBook">État:
							{{ book.state }}</div>
						<div class="locationBook">
							<img src="{{ asset('/img/locationIcon.svg') }}" class="locationIcon" alt="location Icon"/>
							<span>{{ book.user.city }}</span>
						</div>
						<p class="ownerBook">Propriétaire:
							{{ book.user.pseudo }}
						</p>
						<div class="align-self-center">
							<a class="btn btn-outline-success exchangeButton" href="{{ path('book_validation_confirm_exchange', {'id': book.id}) }}" role="button">Échanger</a>
						</div>
					</section>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}
