{% extends 'base.html.twig' %}

{% block title %}
	{{ app.user.firstname }}
	{{ app.user.lastname }}
	- Mes sollicitations d'échange
{% endblock %}

{% block body %}
	<section class="container bookMyExchangeRequests">
		{% for message in app.flashes('message') %}
			<div class="divAlert">
				<div class="alert alert-success" role="alert">
					{{message}}
				</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="divAlert">
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			</div>
		{% endfor %}
		<h2 class="h2BookMyExchangeRequests">Mes sollicitations d'échange
			{% if myBooksRequestedForExchange|length == "0" %}
				(0 livre)
			{% else %}
				({{ myBooksRequestedForExchange|length }}
				livres)
			{% endif %}
		</h2>
		{% if myBooksRequestedForExchange|length == "0" %}
			<div class="divBookMyExchangeRequests">
				<p>Vous n'avez aucune demande d'échange de vos livres actuellement</p>
			</div>
		{% else %}
			<table class="table responsiveTableLine table-hover">
				<thead>
					<tr>
						<th scope="col">Titre</th>
						<th scope="col">Auteur</th>
						<th scope="col">État du livre</th>
						<th scope="col">Demandeur du livre</th>
						<th scope="col">Localisation du demandeur</th>
						<th scope="col">Date de la demande d'échange</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for book in myBooksRequestedForExchange %}
						<tr>
							<th data-label="Titre" scope="row">{{book.title}}</th>
							<td data-label="Auteur">{{book.author}}</td>
							<td data-label="État du livre">{{book.state}}</td>
							<td data-label="Demandeur">{{book.userexchange.pseudo}}</td>
							<td data-label="Localisation">{{book.userexchange.zipCode}} {{book.userexchange.city}}</td>
							<td data-label="E-mail">{{book.userexchange.email}}</td> 
							<td data-label="Date">{{book.exchangeRequestAt|date('d/m/Y')}}</td>
							<td data-label="Actions" class="text-center">
								<a class="btn btn-primary m-2" href="{{ path("book_cancel_exchange", {id: book.id}) }}" role="button">Annuler</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
		{% if pages > 1 %}
			<nav class="page-navigation" aria-label="Page navigation">
				<ul class="pagination">
					<li class="page-item {{ (page == 1) ? 'disabled' : '' }}">
						<a class="page-link" href="?page=1" aria-label="Première Page">
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-double-left" viewbox="0 0 16 16">
								<path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
								<path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
							</svg>
						</a>
					</li>
					<li class="page-item {{ (page == 1) ? 'disabled' : '' }}">
						<a class="page-link" href="{{ (page > 1) ? '?page=' ~ (page - 1) : '' }}" aria-label="Page Précédente">
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-left" viewbox="0 0 16 16">
								<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
							</svg>
						</a>
					</li>
					{% for item in 1..pages %}
						<li class="page-item {{ (page == item) ? 'active' : '' }}">
							<a class="page-link" href="?page={{ item }}">{{ item }}</a>
						</li>
					{% endfor %}
					<li class="page-item {{ (page == pages) ? 'disabled' : '' }}">
						<a class="page-link" href="{{ (page < pages) ? '?page=' ~ (page +1) : '' }}" aria-label="Page Suivante">
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-right" viewbox="0 0 16 16">
								<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
							</svg>
						</a>
					</li>
					<li class="page-item {{ (page == pages) ? 'disabled' : '' }}">
						<a class="page-link" href="{{ pages }}" aria-label="Dernière Page">
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-double-right" viewbox="0 0 16 16">
								<path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
								<path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
							</svg>
						</a>
					</li>
				</ul>
			</nav>
		{% endif %}
	</section>
{% endblock %}