{% extends 'base.html.twig' %}

{% block title %}
	Mes sollicitations d'échange
{% endblock %}


{% block body %}
	<div class="container">
		{% for message in app.flashes('message') %}
			<div class="divAlert col-sm-12">
				<div class="alert alert-success" role="alert">
					{{message}}
				</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="divAlert col-sm-12">
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			</div>
		{% endfor %}
		<h2 class="h2MyExchangeRequests">Mes sollicitations d'échange
			{% if myBooksRequestedForExchange|length == "0" %}
				(0 livre)
			{% else %}
				({{ myBooksRequestedForExchange|length }}
				livres)
			{% endif %}
		</h2>

		{% if myBooksRequestedForExchange|length == "0" %}
			<div class="divMyBooksRequestedForExchange">
				<p>Vous n'avez aucune demande d'échange de vos livres actuellement</p>
			</div>
		{% else %}
			<table class="table table-responsive table-hover">
				<thead>
					<tr>
						<th scope="col">Titre</th>
						<th scope="col">Auteur</th>
						<th scope="col">État du livre</th>
						<th scope="col">Demandeur du livre</th>
						<th scope="col">Localisation du demandeur</th>
						<th scope="col">Date de la demande d'échange</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for book in myBooksRequestedForExchange %}
						<tr>
							<th scope="row">{{book.title}}</th>
							<td>{{book.author}}</td>
							<td>{{book.state}}</td>
							<td>{{book.userexchange.pseudo}}</td>
							<td>{{book.userexchange.city}}
								{{book.userexchange.zipCode}}</td>
							<td>{{book.exchangeRequestAt|date('d/m/Y')}}</td>
							<td class="text-center">
								<a class="btn btn-primary m-2" href="{{ path("book_show", {slug: book.slug}) }}" role="button">Voir</a>

								<a class="btn btn-primary m-2" href="{{ path("book_cancel_exchange", {id: book.id}) }}" role="button">Annuler</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
{% endblock %}
