{% extends 'base.html.twig' %}

{% block title %}
	{{ app.user.firstname }}
	{{ app.user.lastname }}
	- Demande d'échange du livre
{% endblock %}

{% block body %}
	<section class="container bookValidationConfirmExchange">
		{% for message in app.flashes('message') %}
			<div class="divAlert">
				<div class="alert alert-success" role="alert">
					{{message}}
				</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="divAlert">
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			</div>
		{% endfor %}
		<h2 class="h2BookValidationConfirmExchange">Échange de livres</h2>
		<div class="divBookValidationConfirmExchange">
			<p>Confirmer la demande d'échange du livre : </p>
			<p>
				<span>{{ book.title }}</span>
				avec
			</p>
			<p class="paragraphBookValidationConfirmExchange">État:
				<span>{{book.state}}</span>
			</p>
			<p class="paragraphBookValidationConfirmExchange">Propriétaire:
				<span>{{book.user.pseudo}}</span>
			</p>
			<p class="paragraphBookValidationConfirmExchange">Localisation:
				<span>{{book.user.zipCode}} {{book.user.city}}</span>
			</p>
			<div class="divButtonBookValidationConfirmExchange">
				<a href="{{ path('book_confirm_exchange', {'id': book.id }) }}" class="btn btn-success buttonBookValidationConfirmExchange">Confirmer l'échange</a>
			</div>
		</div>
	</section>
{% endblock %}
