{% extends 'base.html.twig' %}

{% block title %}
	{{ app.user.firstname }}
	{{ app.user.lastname }}
	- Demande d'échange du livre
{% endblock %}

{% block body %}
	<section class="container validation-confirm-exchange">
		{% for message in app.flashes('message') %}
			<div class="divAlert col-12">
				<div class="alert alert-success" role="alert">
					{{message}}
				</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="divAlert col-12">
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			</div>
		{% endfor %}
		<h2 class="h2ValidationConfirmExchange">Échange de livres</h2>
		<div class="divValidationConfirmExchange">
			<p>Confirmer la demande d'échange du livre : </p>
			<p>
				<span>
					{{ book.title }}</span>
				avec
			</p>
			<p class="paragraphValidationConfirmExchange">État:
				<span>{{book.state}}</span>
			</p>
			<p class="paragraphValidationConfirmExchange">Propriétaire:
				<span>{{book.user.pseudo}}</span>
			</p>
			<p class="paragraphValidationConfirmExchange">Localisation:
				<span>{{book.user.city}}
					{{book.user.zipCode}}</span>
			</p>
			<div class="div-validation-confirm-exchange-button">
				<a href="{{ path('book_confirm_exchange', {'id': book.id }) }}" class="btn btn-success validation-confirm-exchange-button">Confirmer l'échange</a>
			</div>
		</div>
	</section>
{% endblock %}
