{% extends 'admin/index.html.twig' %}

{% block title %}Gérer les auteurs
{% endblock %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('message') %}
			<div class="divAlert">
				<div class="alert alert-success" role="alert">
					{{message}}
				</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="divAlert">
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			</div>
		{% endfor %}
		<div class="py-3">
			<h1>Gérer les auteurs</h1>
			<a class="btn btn-primary m-2" href="{{ path("admin_author_add") }}" role="button">Ajouter</a>
		</div>
		<table class="table table-responsive table-hover">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nom</th>
					<th scope="col">Parent</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for item in author %}
					<tr>
						<th scope="row">{{item.id}}</th>
						<td>{{item.name}}</td>
						<td>{{item.parent}}</td>
						<td>
							<a class="btn btn-warning m-2" href="{{ path("admin_author_update", {id: item.id}) }}" role="button">Modifier</a>
							<a class="btn btn-danger m-2 modal-trigger" href="{{ path("admin_author_delete", {id: item.id}) }}" role="button">
								Supprimer
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
