{% extends 'admin/index.html.twig' %}

{% block title %}Gérer les auteurs
{% endblock %}

{% block body %}
	<div class="container">

		<h1>Gérer les auteurs</h1>

		<a class="btn btn-primary" href="{{ path("admin_author_add") }}" role="button">Ajouter un auteur</a>

		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nom</th>
					<th scope="col">Parent</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for item in author %}
					<tr>
						<th scope="row">{{item.id}}</th>
						<td>{{item.name}}</td>
						<td>{{item.parent}}</td>
						<td class="text-center">
							<a class="btn btn-primary" href="{{ path("admin_author_update", {id: item.id}) }}" role="button">Modifier</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
