{% extends 'baseBootstrap.html.twig' %}

{% block title %}
	Stock de livres de
	{{ app.user.pseudo }}
	- Ajouter un livre
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success" role="alert">{{ message }}</div>
	{% endfor %}
	<div id="formContainer">
		<div class="formHeader">
			<h2>Ajouter un livre</h2>
		</div>

		{{ form_start(addbookForm, {'attr': {'id': 'add_book_form', 'class': 'form'}}) }}

		<div class="form-control">
			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			{{ form_label(addbookForm.title) }}
			{{ form_widget(addbookForm.title) }}

			<small>{{ form_help(addbookForm.title) }}</small>

			<div class="form-error">
				{{ form_errors(addbookForm.title) }}
			</div>
		</div>

		<div class="form-control">
			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			{{ form_label(addbookForm.author) }}
			{{ form_widget(addbookForm.author) }}

			<small>{{ form_help(addbookForm.author) }}</small>

			<div class="form-error">
				{{ form_errors(addbookForm.author) }}
			</div>
		</div>

		<div class="form-control">
			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			{{ form_label(addbookForm.category) }}
			{{ form_widget(addbookForm.category) }}

			<small>{{ form_help(addbookForm.category) }}</small>

			<div class="form-error">
				{{ form_errors(addbookForm.category) }}
			</div>
		</div>

		<div class="form-control">
			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			{{ form_label(addbookForm.publisher) }}
			{{ form_widget(addbookForm.publisher) }}

			<small>{{ form_help(addbookForm.publisher) }}</small>

			<div class="form-error">
				{{ form_errors(addbookForm.publisher) }}
			</div>
		</div>

		<div class="form-control">
			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			{{ form_label(addbookForm.summary) }}
			{{ form_widget(addbookForm.summary) }}

			<small>{{ form_help(addbookForm.summary) }}</small>

			<div class="form-error">
				{{ form_errors(addbookForm.summary) }}
			</div>
		</div>

		<div class="form-control">
			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			{{ form_label(addbookForm.language) }}
			{{ form_widget(addbookForm.language) }}

			<small>{{ form_help(addbookForm.language) }}</small>

			<div class="form-error">
				{{ form_errors(addbookForm.language) }}
			</div>
		</div>

		<div class="form-control">
			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			{{ form_label(addbookForm.format) }}
			{{ form_widget(addbookForm.format) }}

			<small>{{ form_help(addbookForm.format) }}</small>

			<div class="form-error">
				{{ form_errors(addbookForm.format) }}
			</div>
		</div>

		<div class="form-control">
			<i class="bi bi-check-circle"></i>
			<i class="bi bi-exclamation-circle"></i>
			{{ form_label(addbookForm.state) }}
			{{ form_widget(addbookForm.state) }}

			<small>{{ form_help(addbookForm.state) }}</small>

			<div class="form-error">
				{{ form_errors(addbookForm.state) }}
			</div>
		</div>

		{{ form_end(addbookForm) }}

	</div>
{% endblock %}
