{% extends 'baseBootstrap.html.twig' %}

{% block title %}
	Stock de livres de
	{{ app.user.pseudo }}
{% endblock %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('message') %}
			<div class="divAlert col-sm-12">
				<div class="alert alert-success" role="alert">
					{{message}}
				</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="divAlert col-sm-12">
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			</div>
		{% endfor %}
		<h2 class="h2ConnectedBookStockAddABook">Stock de livres</h2>

		<div class="col-sm-12">
			<h3 class="h3ConnectedBookStockAddABook">Votre stock
				{% if app.user.books|length == "0" %}
					(0 livre)
				{% else %}
					({{ app.user.books|length }}
					livres)
				{% endif %}
			</h3>
		</div>

		{% if app.user.books|length == "0" %}
			<div class="divConnectedBookStockAddABook">
				<p>Votre bibliothèque est vide.</p>
				<p>Complétez-là avec les livres que vous possèdez</p>
				<p>et que vous souhaitez échanger.</p>
			</div>

			<div class="divButtonConnectedBookStockAddABook">
				<a class="btn btn-success" href="{{ path('user_book_add') }}" role="button">Ajouter un livre</a>
			</div>
		{% else %}
			<div class="divButtonConnectedBookStockAddABook">
				<a class="btn btn-success" href="{{ path('user_book_add') }}" role="button">Ajouter un livre</a>
			</div>

			<div class="row col-sm-12">
				<div class="col-sm-12">
					<h1>Bibliothèque de
						{{ app.user.firstname }}
						{{ app.user.lastname }}
					</h1>
				</div>

				{% for books in app.user.books %}
					<div class="col-sm-3">Titre :</div>
					<div class="col-sm-9">{{ books.title }}</div>
					<div class="col-sm-3">Auteur :</div>
					<div class="col-sm-9">{{ books.author }}</div>
					<div class="col-sm-3">Catégorie :</div>
					<div class="col-sm-9">{{ books.category }}</div>
					<div class="col-sm-3">Éditeur :</div>
					<div class="col-sm-9">{{ books.publisher }}</div>
					<div class="col-sm-3">Résumé :</div>
					<div class="col-sm-9">{{ books.summary }}</div>
					<div class="col-sm-3">Langue :</div>
					<div class="col-sm-9">{{ books.language }}</div>
					<div class="col-sm-3">Format :</div>
					<div class="col-sm-9">{{ books.format }}</div>
					<div class="col-sm-3">État du livre :</div>
					<div class="col-sm-9">{{ books.state }}</div>

					<div class="col-sm-3">
						<a class="btn btn-outline-secondary" href="{{ path('user_book_remove_stock', {'id': books.id }) }}" role="button">Retirer de mon stock</a>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}
