{% extends 'baseBootstrap.html.twig' %}

{% block title %}
	Stock de livres de
	{{ app.user.pseudo }}
{% endblock %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('message') %}
			<div class="divAlert col-sm-12">
				<div class="alert alert-success" role="alert">
					{{message}}
				</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="divAlert col-sm-12">
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			</div>
		{% endfor %}
		<h2 class="h2ConnectedBookStockAddABook">Stock de livres</h2>

		<div class="col-sm-12">
			<h3 class="h3ConnectedBookStockAddABook">Bibliothèque de
				{{ app.user.firstname }}
				{{ app.user.lastname }}
				{% if app.user.books|length == "0" %}
					(0 livre)
				{% else %}
					({{ app.user.books|length }}
					livres)
				{% endif %}
			</h3>
		</div>

		{% if app.user.books|length == "0" %}
			<div class="divConnectedBookStockAddABook">
				<p>Votre bibliothèque est vide.</p>
				<p>Complétez-là avec les livres que vous possèdez</p>
				<p>et que vous souhaitez échanger.</p>
			</div>

			<div class="divButtonConnectedBookStockAddABook">
				<a class="btn btn-success" href="{{ path('user_book_add') }}" role="button">Ajouter un livre</a>
			</div>
		{% else %}
			<div class="divButtonConnectedBookStockAddABook">
				<a class="btn btn-success" href="{{ path('user_book_add') }}" role="button">Ajouter un livre</a>
			</div>

			<div class="row col-sm-12">
				{% for books in app.user.books %}
					<div class="bookCard col-sm-4">

						<div class="titleBook">{{ books.title|u.truncate(24, '...') }}</div>
						<div class="authorBook">
							<a href="">{{ books.author }}</a>
						</div>
						<div class="categoryBook">{{ books.category }}</div>
						<div class="publisherBook">{{ books.publisher }}</div>
						<div class="languageBook">{{ books.language }}</div>
						<div class="formatBook">{{ books.format }}</div>
						<div class="stateBook">{{ books.state }}</div>

						<div class="align-self-center">
							<a class="btn btn-outline-secondary" href="{{ path('user_book_remove_stock', {'id': books.id }) }}" role="button">Supprimer</a>
						</div>

					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}
