{% extends 'baseBootstrap.html.twig' %}

{% block title %}
	Échange de livres de
	{{ app.user.pseudo }}
{% endblock %}


{% block body %}
	<div class="container">
		{% for message in app.flashes('message') %}
			<div class="col-sm-12">
				<div class="alert alert-success" role="alert">
					{{message}}
				</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="col-sm-12">
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			</div>
		{% endfor %}
		<h2 class="h2ConnectedBookExchangeClickOnTheBookExchangeLink my-3">Échange de livres</h2>

		<div class="col-sm-12">
			<h3 class="h3ConnectedBookExchangeClickOnTheBookExchangeLink">Vos échanges
				{% if books|length == "0" %}
					(0 livre)
				{% else %}
					({{ books|length }}
					livres)
				{% endif %}
			</h3>
		</div>

		{% if books|length == "0" %}
			<div class="divConnectedBookExchangeClickOnTheBookExchangeLink">
				<p>Vous n'avez aucun échange de livre en cours</p>
			</div>

			<div class="divExchangeInstructions">
				<p>I - Pour échanger un livre, utilisez la barre de recherche</p>
				<p>II - Chercher le titre du livre ou l'auteur du livre.</p>
				<p>III - Cliquez sur le bouton Échanger du livre voulu.</p>
				<p>IV - Le propriétaire du livre, reçoit par courriel, votre demande</p>
				<p>d'échange de livre et regarde dans votre stock de livres</p>
				<p>quel livre voudrait t'il de votre stock de livres.</p>
				<p>V - Il doit y avoir au minimun cinq livres disponibles</p>
				<p>dans votre stock.</p>
				<p>VI - Si non réponse dans votre messagerie d'ici 4 jours,</p>
				<p>l'échange est annulé.</p>
			</div>

		{% else %}
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th scope="col">Titre</th>
						<th scope="col">Auteur</th>
						<th scope="col">État du livre</th>
						<th scope="col">Propriétaire du livre</th>
						<th scope="col">Localisation du livre</th>
						<th scope="col">Date de la demande d'échange</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for book in books %}
						<tr>
							<th scope="row">{{book.title}}</th>
							<td>{{book.author}}</td>
							<td>{{book.state}}</td>
							<td>{{book.user.pseudo}}</td>
							<td>{{book.user.city}}
								{{ book.user.zipCode }}</td>
							<td>{{book.exchangeRequestAt|date('d/m/Y')}}</td>
							<td class="text-center">
								<a class="btn btn-primary" href="{{ path("user_book_cancel_exchange", {id: book.id}) }}" role="button">Annuler</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}

	</div>
{% endblock %}
