{% extends 'base.html.twig' %}

{% block title %}
	Échange de livres de
	{{ app.user.pseudo }}
{% endblock %}


{% block body %}
	<div class="container">
		{% for message in app.flashes('message') %}
			<div class="col-sm-12">
				<div class="alert alert-success" role="alert">
					{{message}}
				</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="col-sm-12">
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			</div>
		{% endfor %}
		<h1>Échange de livres</h1>

		<div class="col-sm-12">
			<h1>Vos échanges
				{% if books|length == "0" %}
					(0 livre)
				{% else %}
					({{ books|length }}
					livres)
				{% endif %}
			</h1>
		</div>

		{% if books|length == "0" %}
			<div class="divConnectedBookExchangeClickTheBookExchangeLink">
				<p>Vous n'avez aucun échange de livre en cours</p>
			</div>

			<div class="divExchangeInstructions">
				<p>I - Pour échanger un livre, utilisez la barre de recherche</p>
				<p>II - Chercher le titre du livre ou l'auteur du livre.</p>
				<p>III - Cliquez sur le bouton Échanger du livre voulu.</p>
				<p>IV - Le propriétaire du livre, reçoit par courriel, votre demande</p>
				<p>d'échange de livre et regarde dans votre stock de livres</p>
				<p>quel livre voudrait t'il de votre stock de livres.</p>
				<p>V - Il doit y avoir au minimun cinq livres disponibles</p>
				<p>dans votre stock.</p>
				<p>VI - Si non réponse dans votre messagerie d'ici 4 jours,</p>
				<p>l'échange est annulé.</p>
			</div>

		{% else %}
			<div class="row col-sm-12">
				{% for book in books %}
					<div class="col-sm-3">Titre:</div>
					<div class="col-sm-9">{{ book.title }}</div>
					<div class="col-sm-3">Auteur:</div>
					<div class="col-sm-9">{{ book.author }}</div>
					<div class="col-sm-3">État du livre:</div>
					<div class="col-sm-9">{{ book.state }}</div>
					<div class="col-sm-3">Propriétaire du livre:</div>
					<div class="col-sm-9">
						{{ book.user.pseudo }}</div>
					<div class="col-sm-3">Localisation du livre:</div>
					<div class="col-sm-9">
						{{ book.user.city }}
						{{ book.user.zipCode }}</div>
					<div class="col-sm-3">Date de la demande d'échange:</div>
					<div class="col-sm-9">
						{{ book.exchangeRequestAt|date('d/m/Y') }}</div>
				{% endfor %}
			</div>
		{% endif %}

	</div>
{% endblock %}
