{% extends 'base.html.twig' %}

{% block title %}
	Échange de livres de
	{{ app.user.pseudo }}
{% endblock %}


{% block body %}
	<div class="container">
		{% for message in app.flashes('message') %}
			<div class="col-sm-12">
				<div class="alert alert-success" role="alert">
					{{message}}
				</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="col-sm-12">
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			</div>
		{% endfor %}
		<h1>Échange de livres</h1>

		{#}
		<ul>
			{% for book in book.title %}
				<li>{{ book.title }}</li>
			{% endfor %}
		</ul>
		
		<p>{{ app.book.exchangeRequest }}</p>
		#}
		<div class="col-sm-12">
			<h1>Vos échanges
				{#
				{% if app.book.exchangeRequest === true|length == "0" %}
				0 livre)
				{% else %}
				({{ app.user.books|length }}
				livres)
				{% endif %}
				#}
				{% if app.user.books|length == "0" %}
					0 livre)
				{% else %}
					({{ app.user.books|length }}
					livres)
				{% endif %}
			</h1>
		</div>

		{% if app.user.books|length == "0" %}
			<p>Vous n'avez aucun échange de livre en cours</p>

			<div class="divConnectedBookExchangeClickTheBookExchangeLink">
				<p>Vous n'avez aucun échange e livre en cours</p>
			</div>

			<div class="divExchangeInstructions">
				<p>I - Pour échanger un livre, utilisez la barre de recherche</p>
				<p>II - Chercher le titre du livre ou l'auteur du livre.</p>
				<p>III - Cliquez sur le bouton Échanger du livre voulu.</p>
				<p>IV - Le propriétaire du livre, reçoit par courriel, votre demande</p>
				<p>d'échange de livre et regarde dans votre stock de livres</p>
				<p>quel livre voudrait t'il de votre stock de livres.</p>
				<p>V - Il doit y avoir au minimun cinq livres disponibles</p>
				<p>dans votre stock.</p>
				<p>VI - Si non réponse dans votre messagerie d'ici 4 jours,</p>
				<p>l'échange est annulé.</p>
			</div>

			{% else %}

		{% endif %}

	</div>
{% endblock %}
