{% extends 'baseBootstrap.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div id="formContainer">
		<div class="formHeader">
			<h2>Connexion</h2>
		</div>

		<form name="login_form" method="post" id="login_form" class="form">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					Vous êtes connecté en tant que
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Déconnexion</a>
				</div>
			{% endif %}

			<div class="form-control">
				<i class="bi bi-check-circle"></i>
				<i class="bi bi-exclamation-circle"></i>
				<label for="login_form_email" class="required">E-mail</label>
				<input type="email" value="{{ last_username }}" id="login_form_email" name="login_form[email]" required="required">

				<small></small>

				<div class="form-error"></div>
			</div>

			<div class="form-control">
				<i class="bi bi-check-circle"></i>
				<i class="bi bi-exclamation-circle"></i>
				<label for="login_form_plainPassword" class="required">Mot de passe</label>
				<input type="password" id="login_form_plainPassword" name="login_form[plainPassword]" required="required">

				<small></small>

				<div class="form-error"></div>
			</div>

			<div>
				<button type="submit" id="login_form_save" name="login_form[save]" class="btn btn-success btn-lg">Se connecter</button>
			</div>

			<input type="hidden" id="login_form__token" name="login_form[_token]" value="{{ csrf_token('authenticate') }}">

		</form>

		<div class="formFooter">
			<a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
		</div>

	</div>
{% endblock %}
