{% extends 'admin/index.html.twig' %}

{% block title %}Gérer les états du livre
{% endblock %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('message') %}
			<div class="divAlert col-sm-12">
				<div class="alert alert-success" role="alert">
					{{message}}
				</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="divAlert col-sm-12">
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			</div>
		{% endfor %}
		<h1>Gérer les états du livre</h1>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nom</th>
					<th scope="col">Parent</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for item in state %}
					<tr>
						<th scope="row">{{item.id}}</th>
						<td>{{item.name}}</td>
						<td>{{item.parent}}</td>
						<td class="text-center">
							<a class="btn btn-primary m-2" href="{{ path("admin_state_add") }}" role="button">Ajouter</a>
							<a class="btn btn-primary m-2" href="{{ path("admin_state_update", {id: item.id}) }}" role="button">Modifier</a>
							<a class="btn btn-primary m-2" href="{{ path("admin_state_delete", {id: item.id}) }}" role="button">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
